<section class="main-content">

    <div class="main-content__img">

        <img src="https://images.pexels.com/photos/4781948/pexels-photo-4781948.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Off-Road Car">

    </div>

    <div class="main-content__title">
        <h2>Novidade na Área</h2>
    </div>

    <div class="main-content__text">
        
        <p>Uma picape totalmente nova, com um nível surpreendente de qualidade, tecnologia e performance, que vai definir um novo padrão na categorias</p>
    </div>

</section>
