.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 400px;
}

.main-content:hover {
    cursor: pointer;
    transition: 0.5s linear;
    scale: 1.015;
}

.main-content__img img {
    width: 350px;
    height: 250px
}

.main-content__title h2 {
    font-size: 32px;
}

.main-content__title h2 a {
    text-decoration: none;
}

.main-content h2 a:hover {
    transition: 0.5s linear;
    scale: 1.015;
    color: #b2b2b2;
}



.main-content__text p {
    font-size: 18px;
    line-height: 30px;
}