
<app-menu-title></app-menu-title>


<article class="article__container">

   <div class="main-content__container">

      <app-main-card id="1" photo="https://images.pexels.com/photos/4781948/pexels-photo-4781948.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" mainCardTitle="Carro novo na Área" mainCardText="“Uma caminhonete totalmente nova, com um nível absurdo de qualidade, tecnologia e performance, que vai estabelecer um novo padrão na categoria."> </app-main-card>

   </div>

   <div class="additional-content__container">

      <app-additional-card id="2" photo="https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" additionalCardTitle="Cachorrinhos aleatórios"></app-additional-card>

      <app-additional-card id="3" photo="https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" additionalCardTitle="Cachorrinhos aleatórios"></app-additional-card>

      <app-additional-card id="4" photo="https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" additionalCardTitle="Cachorrinhos aleatórios"></app-additional-card>
      
   </div>


</article>
